- id - Уникальный ID для каждого дома
- date - Дата продажи дома
- price - Стоимость продажи дома
- bedrooms - Кол-во спален
- bathrooms - Кол-во ванных комнат (0.5 - туалет без душа)
- sqft_living - Кв. метры жилые
- sqft_lot - Кв. метры общие
- floors - Кол-во этажей
- waterfront - Есть набержная или нет
- view - Значение от 0 до 4 насколько хороший вид
- condition - Значение от 1 до 5 насколько хорошее состояние
- grade - Значение от 1 до 13, где 1-3 плохая конструкция здания и дизайн, 7 - средний уровень конструкции и дизайна, 11-13 - высокое качество конструкции и дизайна
- sqft_above - Кв. метры дома, которые находятся выше земли
- sqft_basement - Кв. метры дома, которые находятся ниже земли
- yr_built - Год постройки дома
- yr_renovated - Год ремонта дома
- zipcode - Индекс
- lat - Широтма
- long - Долгота
- sqft_living15 - Кв. метры жилой площади у 15 соседей
- sqft_lot15 - Кв. метры общей площади у 15 соседей

## Задача 1
Скачать данные по ссылке https://www.kaggle.com/datasets/ionaskel/laptop-prices
    
Считать данные с помощью pandas

Вывести на экран первые 5 строк

1.2 Создать новый признак delta_renovated, который будет содержать разницу в годах между годом реновацией дома и годом постройки дома
Если реновации дома не было, то в новом признаке поставьте 0

1.3 Создайте признаки года продажи, месяца продажи

1.4 Удалите признаки date, zipcode, lat, long

In [1]:
import pandas as pd

In [29]:
df = pd.read_csv('D:\\Nastya\\GeekBrains\\GeekBrains\\Python для аналитиков\\ДЗ к семинару 3\\kc_house_data.csv', encoding='windows-1251')
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [30]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

1.2 Создать новый признак delta_renovated, который будет содержать разницу в годах между годом реновацией дома и годом постройки дома Если реновации дома не было, то в новом признаке поставьте 0

In [31]:
df['delta_renovated']=df['yr_renovated'] - df['yr_built']
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,-1955
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,40
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,-1933
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,-1965
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,-1987
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,1530,0,2009,0,98103,47.6993,-122.346,1530,1509,-2009
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,2310,0,2014,0,98146,47.5107,-122.362,1830,7200,-2014
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,1020,0,2009,0,98144,47.5944,-122.299,1020,2007,-2009
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,1600,0,2004,0,98027,47.5345,-122.069,1410,1287,-2004
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,1020,0,2008,0,98144,47.5941,-122.299,1020,1357,-2008

1.3 Создайте признаки года продажи, месяца продажи

In [33]:
df['yr_sale'] = 0
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated,yr_sale
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,0,1955,0,98178,47.5112,-122.257,1340,5650,-1955,0
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,400,1951,1991,98125,47.7210,-122.319,1690,7639,40,0
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,0,1933,0,98028,47.7379,-122.233,2720,8062,-1933,0
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,910,1965,0,98136,47.5208,-122.393,1360,5000,-1965,0
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,0,1987,0,98074,47.6168,-122.045,1800,7503,-1987,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,0,2009,0,98103,47.6993,-122.346,1530,1509,-2009,0
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,0,2014,0,98146,47.5107,-122.362,1830,7200,-2014,0
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,0,2009,0,98144,47.5944,-122.299,1020,2007,-2009,0
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,0,2004,0,98027,47.5345,-122.069,1410,1287,-2004,0
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,0,2008,0,98144,47.5941,-122.299,1020,1357,-2008,0

In [34]:
df['mnth_sale'] = 0
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated,yr_sale,mnth_sale
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,1955,0,98178,47.5112,-122.257,1340,5650,-1955,0,0
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,1951,1991,98125,47.7210,-122.319,1690,7639,40,0,0
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,1933,0,98028,47.7379,-122.233,2720,8062,-1933,0,0
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,1965,0,98136,47.5208,-122.393,1360,5000,-1965,0,0
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,1987,0,98074,47.6168,-122.045,1800,7503,-1987,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,2009,0,98103,47.6993,-122.346,1530,1509,-2009,0,0
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,2014,0,98146,47.5107,-122.362,1830,7200,-2014,0,0
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,2009,0,98144,47.5944,-122.299,1020,2007,-2009,0,0
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,2004,0,98027,47.5345,-122.069,1410,1287,-2004,0,0
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,2008,0,98144,47.5941,-122.299,1020,1357,-2008,0,0

1.4 Удалите признаки date, zipcode, lat, long

In [35]:
df.drop(columns=['date', 'zipcode', 'lat', 'long'], inplace=True)
df

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,yr_sale,mnth_sale
0,7129300520,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,1340,5650,-1955,0,0
1,6414100192,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,1690,7639,40,0,0
2,5631500400,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,2720,8062,-1933,0,0
3,2487200875,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,1360,5000,-1965,0,0
4,1954400510,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,1800,7503,-1987,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,1530,1509,-2009,0,0
21609,6600060120,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,1830,7200,-2014,0,0
21610,1523300141,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,1020,2007,-2009,0,0
21611,291310100,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,1410,1287,-2004,0,0
21612,1523300157,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,1020,1357,-2008,0,0

## 2 задача
Создайте датафрейм с клиентами:

2.1 Присоедините к таблице clients данные по домам через метод join

2.2 Присоедините к таблице clients данные по домам через метод merge

Это нужно, чтобы понимать, какие дома покупались клиентами

house_id - это индексы датафрейма с домами

In [36]:
clients = pd.DataFrame({
    'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295, 939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242, 2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
    'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060, 1189000207, 6821600300, 7137950720, 9510920050, 6131600255, 5428000070, 1788800910, 8100400160, 3123049142, 6306800010, 5083000375, 7920100025, 1951600150, 809001400, 339600110, 1622049154, 1099600250, 8563000110, 2768100205, 3995700435, 8861700030, 3303980210, 7731100066, 8146100580, 825069097, 3889100029, 9524100196]
})

clients.set_index('house_id', inplace=True)
clients.join(df, lsuffix='_left', rsuffix='_right')

# 2.1 Присоедините к таблице clients данные по домам через метод join

,client_id,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,yr_sale,mnth_sale
house_id,,,,,,,,,,,,,,,,,,,,,
8965450190,1459,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6823100225,4684,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5104540330,3498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2131701075,3942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1522700060,4535,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1189000207,2308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6821600300,2866,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7137950720,2765,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9510920050,1472,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6131600255,4236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5428000070,2295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1788800910,939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8100400160,3840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3123049142,280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6306800010,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5083000375,4332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7920100025,3475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1951600150,4213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
809001400,3113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
339600110,4809,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1622049154,2134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1099600250,2242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8563000110,2068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2768100205,4929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3995700435,1384,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8861700030,1589,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3303980210,3317,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7731100066,2260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8146100580,1727,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
825069097,1764,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3889100029,1611,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9524100196,1474,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
df.reset_index(inplace=True)
clients.reset_index(inplace=True)
clients.merge(df, left_on='house_id', right_on='id', how='left')
# по умолчанию inner, но мы прописали how='left'

,house_id,client_id,index,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,yr_sale,mnth_sale
0,8965450190,1459,7314,8965450190,295000.0,3,2.50,1500,3060,2.0,...,7,1500,0,1994,0,2700,7734,-1994,0,0
1,6823100225,4684,15505,6823100225,700000.0,4,1.75,1870,6000,1.0,...,8,1670,200,1949,0,1710,6000,-1949,0,0
2,5104540330,3498,7560,5104540330,679000.0,4,2.50,3680,7236,2.0,...,10,3680,0,2006,0,3310,7180,-2006,0,0
3,2131701075,3942,13185,2131701075,420000.0,3,1.75,1720,5000,1.5,...,8,1720,0,1932,2009,1410,8300,77,0,0
4,1522700060,4535,10395,1522700060,518000.0,4,2.75,2520,14021,2.0,...,9,2520,0,1999,0,2330,14007,-1999,0,0
5,1189000207,2308,7861,1189000207,387000.0,2,2.50,1170,1394,2.0,...,8,1170,0,2001,0,1250,3136,-2001,0,0
6,6821600300,2866,4660,6821600300,886000.0,3,2.25,2380,6000,2.0,...,9,1650,730,1931,0,2000,6000,-1931,0,0
7,7137950720,2765,13827,7137950720,339100.0,4,2.50,2350,10655,2.0,...,8,2350,0,1992,0,2210,7028,-1992,0,0
8,9510920050,1472,16528,9510920050,725000.0,3,2.50,2980,16996,2.0,...,10,2980,0,1992,0,2980,15438,-1992,0,0
9,6131600255,4236,16228,6131600255,202500.0,3,2.00,1540,8316,1.0,...,6,1540,0,1954,0,1250,8316,-1954,0,0
10,5428000070,2295,20765,5428000070,770000.0,5,3.50,4750,8234,2.0,...,10,3350,1400,2013,0,2160,14496,-2013,0,0
11,1788800910,939,12610,1788800910,190000.0,3,1.00,1200,10458,1.0,...,6,1200,0,1961,0,1160,9000,-1961,0,0
12,8100400160,3840,1362,8100400160,700000.0,3,2.25,2330,11424,2.0,...,8,2330,0,1984,0,2050,11448,-1984,0,0
13,3123049142,280,6951,3123049142,452000.0,3,2.25,2600,14810,1.0,...,8,1490,1110,1956,0,2450,16715,-1956,0,0
14,6306800010,20,20288,6306800010,436472.0,4,2.50,2692,8392,2.0,...,9,2692,0,2014,0,2574,14446,-2014,0,0
15,5083000375,4332,3033,5083000375,170000.0,3,1.00,1310,9529,1.0,...,7,1310,0,1956,0,1330,9529,-1956,0,0
16,5083000375,4332,3034,5083000375,235000.0,3,1.00,1310,9529,1.0,...,7,1310,0,1956,0,1330,9529,-1956,0,0
17,7920100025,3475,2865,7920100025,450000.0,2,1.00,740,5100,1.0,...,7,740,0,1947,0,920,5100,-1947,0,0
18,1951600150,4213,12993,1951600150,180000.0,3,1.00,1610,8500,1.5,...,7,1610,0,1959,0,1070,8750,-1959,0,0
19,809001400,3113,9369,809001400,925000.0,3,1.00,1630,3200,1.5,...,8,1630,0,1912,0,1710,3600,-1912,0,0
20,339600110,4809,3351,339600110,395000.0,3,2.50,1610,3755,2.0,...,7,1610,0,1987,0,1300,3823,-1987,0,0
21,1622049154,2134,8879,1622049154,289900.0,3,1.75,1899,11325,2.0,...,7,1899,0,1943,2005,2000,10454,62,0,0
22,1099600250,2242,6585,1099600250,260000.0,3,1.75,1710,6400,1.0,...,7,1240,470,1976,0,1600,6400,-1976,0,0
23,8563000110,2068,17746,8563000110,427000.0,4,1.75,1460,9750,1.0,...,7,1460,0,1967,0,1820,9840,-1967,0,0
24,2768100205,4929,19379,2768100205,519000.0,4,2.50,1950,2617,1.5,...,7,1250,700,1910,0,1520,1438,-1910,0,0
25,3995700435,1384,11107,3995700435,265000.0,4,3.00,1940,8170,1.0,...,7,1940,0,1948,0,1310,8169,-1948,0,0
26,8861700030,1589,10112,8861700030,510000.0,3,1.50,2400,10275,1.0,...,8,1540,860,1964,0,2380,10125,-1964,0,0
27,3303980210,3317,18731,3303980210,1115000.0,4,3.75,4040,14212,2.0,...,11,4040,0,2002,0,3940,14212,-2002,0,0
28,7731100066,2260,7447,7731100066,545000.0,3,1.00,1510,5000,1.5,...,7,1510,0,1909,0,1680,4000,-1909,0,0
29,8146100580,1727,13635,8146100580,765000.0,3,1.00,1220,7585,1.0,...,7,1220,0,1954,0,1380,8918,-1954,0,0
30,825069097,1764,3029,825069097,770000.0,3,2.50,2650,40705,2.0,...,9,2650,0,1994,0,2550,42625,-1994,0,0
31,3889100029,1611,6880,3889100029,810000.0,3,2.50,2670,10481,2.0,...,9,2670,0,2003,0,2620,8895,-2003,0,0
32,9524100196,1474,20781,9524100196,239000.0,2,1.50,680,772,2.0,...,7,680,0,2005,0,690,1059,-2005,0,0

# 3 задача
Составьте несколько сводных таблиц

3.1 Найдите среднюю стоимость домов в зависимости от количества спален

Отсортируйте от меньшей стоимости к большей

3.2 Найдите минимальную, среднюю и максимальную стоимости домов в зависимости от состояния дома

3.3 Постройте таблицу с подсчетом количества домов в данных в зависимости от вида на набережную и оценкой вида

3.4 Каких домов в зависимости от этажности и количества спален больше?

3.5 Постройте таблицу с подсчетом медианной стоимости домов в данных в зависимости от состояния дома и оценки дома

In [50]:
df.groupby('bathrooms').agg({'price': 'mean'})

# 3.1 Найдите среднюю стоимость домов в зависимости от количества спален

                  price
bathrooms
0.00       4.481600e+05
0.50       2.373750e+05
0.75       2.945209e+05
1.00       3.470412e+05
1.25       6.212167e+05
1.50       4.093222e+05
1.75       4.548961e+05
2.00       4.578897e+05
2.25       5.336768e+05
2.50       5.535965e+05
2.75       6.602304e+05
3.00       7.084152e+05
3.25       9.703398e+05
3.50       9.319331e+05
3.75       1.197217e+06
4.00       1.267709e+06
4.25       1.525774e+06
4.50       1.333620e+06
4.75       2.021304e+06
5.00       1.673492e+06
5.25       1.817177e+06
5.50       2.522300e+06
5.75       2.492500e+06
6.00       2.946833e+06
6.25       3.094000e+06
6.50       1.709445e+06
6.75       2.734000e+06
7.50       4.500000e+05
7.75       6.885000e+06
8.00       4.990000e+06

In [47]:
df_new=df.groupby('condition').agg({'price': ['min', 'mean', 'max']})
df_new

# 3.2 Найдите минимальную, среднюю и максимальную стоимости домов в зависимости от состояния дома

              price
                min           mean        max
condition
1           78000.0  334431.666667  1500000.0
2           80000.0  327287.145349  2555000.0
3           75000.0  542012.578148  7062500.0
4           89000.0  521200.390033  7700000.0
5          110000.0  612418.089359  3650000.0

In [51]:
df.groupby(['view', 'waterfront']).agg({'id': 'count'})
# 3.3 Постройте таблицу с подсчетом количества домов в данных в зависимости от вида на набережную и оценкой вида

                    id
view waterfront
0    0           19489
1    0             331
     1               1
2    0             955
     1               8
3    0             491
     1              19
4    0             184
     1             135

In [52]:
pd.crosstab(index=df['floors'], columns=df['bedrooms'], margins=True, margins_name='Total')
# 3.4 Каких домов в зависимости от этажности и количества спален больше?

# Вывод: Больше всего одноэтажных домов с 4 спальнями

bedrooms   0    1     2     3     4     5    6   7   8  9  10  11  33  Total
floors
1.0        4  162  1951  5455  2383   605  104   9   5  0   1   0   1  10680
1.5        0   21   182   786   698   185   30   7   1  0   0   0   0   1910
2.0        6   12   497  3118  3682   775  119  19   6  4   2   1   0   8241
2.5        0    1     5    56    58    23   14   2   0  2   0   0   0    161
3.0        2    3   123   405    61    13    5   1   0  0   0   0   0    613
3.5        1    0     2     4     0     0    0   0   1  0   0   0   0      8
Total     13  199  2760  9824  6882  1601  272  38  13  6   3   1   1  21613

In [55]:
df

,index,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,yr_sale,mnth_sale
0,0,7129300520,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,1340,5650,-1955,0,0
1,1,6414100192,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,1690,7639,40,0,0
2,2,5631500400,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,2720,8062,-1933,0,0
3,3,2487200875,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,1360,5000,-1965,0,0
4,4,1954400510,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,1800,7503,-1987,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,21608,263000018,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,1530,1509,-2009,0,0
21609,21609,6600060120,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,1830,7200,-2014,0,0
21610,21610,1523300141,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,1020,2007,-2009,0,0
21611,21611,291310100,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,1410,1287,-2004,0,0
21612,21612,1523300157,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,1020,1357,-2008,0,0

In [70]:
df['price'].median(axis=0, skipna=True, level=None, numeric_only=None)


# 3.5 Постройте таблицу с подсчетом медианной стоимости домов в данных в зависимости от состояния дома и оценки дома

450000.0

In [69]:
df_new2=df.groupby(['condition', 'grade']).agg({'price': 'sum'})
df_new2

                        price
condition grade
1         1      1.420000e+05
          4      1.500000e+05
          5      2.527500e+06
          6      3.341950e+06
          7      2.006500e+06
          8      1.865000e+06
2         3      2.800000e+05
          4      8.980000e+05
          5      3.092500e+06
          6      1.589955e+07
          7      2.570239e+07
          8      5.485950e+06
          9      1.430000e+06
          10     3.505000e+06
3         3      7.500000e+04
          4      2.730000e+06
          5      2.469935e+07
          6      3.008247e+08
          7      2.018580e+09
          8      2.177629e+09
          9      1.482966e+09
          10     9.329123e+08
          11     4.695813e+08
          12     1.582565e+08
          13     3.672500e+07
4         4      2.439050e+06
          5      2.060512e+07
          6      2.183311e+08
          7      1.169811e+09
          8      8.218011e+08
          9      3.967904e+08
          10     1.835004e+08
          11     1.030353e+08
          12     3.208350e+07
          13     1.150000e+07
5         3      2.620000e+05
          5      9.218338e+06
          6      7.691493e+07
          7      3.995632e+08
          8      2.872498e+08
          9      1.415509e+08
          10     9.547067e+07
          11     2.462325e+07
          12     6.870000e+06

In [73]:
df_new2['price'].median(axis=0, skipna=True, level=None, numeric_only=None)

24661298.0